table{border-collapse:separate;
	      border-spacing:10px;}
	td{width:70px;
		height:60px;
		border:1px solid black;
	    text-align:center;
	    color:white;
	     background:black;}
	#div1 div{width:180px;
		      border:1px 
		     solid white;
	          background:#F0F0F0;
	          position:relative;
              left:10px;
             display:none;
	      }
	#div1{width:200px;
		    padding:15px;
			background:#D8D8D8;
			margin:0 auto;
		    }
	.p2,.p1,big{font-weight:bold;}
	.p2{font-size:13px;}
	.active{background:white;color:red;}