 #tab{ width:240px;
	      border:1px solid gray;
	     margin:0 auto;
         padding:15px 15px 10px 15px;
	  
	     background:#D8D8D8;
	     }
	   ul{margin:0;
	      padding:0;
	       }
     li{list-style:none;
        /*border:1px solid black;*/
         background:black;
         width:70px;
        /*难道宽设置仅仅是靠眼睛看着差不多去设置的吗？*/
        float:left;
        margin:5px;
         color:white;
         text-align:center;
	     }
	 #text{clear:both;
	 	   width:230px;
	       border:1px solid white;
	       background:#F0F0F0;
	       position:relative;
	       left:5px;
            margin-top:30px;
            /*这个语句为什么会没有任何反应呢。*/
        }
        .active{color:red;background:white;}
